<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713537173844-iegnve8dimb3b78tr1gfb6n6m8s31euq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713537173844-iegnve8dimb3b78tr1gfb6n6m8s31euq</string>
	<key>API_KEY</key>
	<string>AIzaSyCok4XSWbykdmWLlwW3cPQ-FwLGgPFeVQY</string>
	<key>GCM_SENDER_ID</key>
	<string>713537173844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beta.StyleOn</string>
	<key>PROJECT_ID</key>
	<string>style-on-757e5</string>
	<key>STORAGE_BUCKET</key>
	<string>style-on-757e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713537173844:ios:400d9607da66c586ba30c1</string>
	<key>DATABASE_URL</key>
	<string>https://style-on-757e5.firebaseio.com</string>
</dict>
</plist>